:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  textarea {
    resize: none;
    border: none;
    font-family: inherit;
    width: 640px;
    max-width: 100%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1;
    padding: 12px;
    outline: none;
    border-bottom: 1px solid #888;
    &::placeholder {
      color: #888;
    }
  }
}
