:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  main {
    width: 640px;
    max-width: 100%;
    height: calc(100dvh - 48px);
    margin: 0 auto;
    overflow: auto;
    div {
      padding: 16px;
    }
    textarea {
      width: 100%;
      resize: none;
      border: none;
      border-bottom: 1px solid #888;
      font-family: inherit;
      font-size: 18px;
      line-height: 1;
      padding: 16px;
      outline: none;
      &::placeholder {
        color: #888;
      }
    }
  }
}
