:host {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  height: 56px;
  background: var(--background);
  box-shadow: 0 0 24px #0004;
  a {
    background: #0000;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--foreground);
    font-size: 12px;
    svg {
      fill: var(--foreground);
    }
    &.active {
      font-weight: 900;
      color: var(--primary);
      svg {
        fill: var(--primary);
      }
    }
    &.new {
      font-size: 16px;
      font-weight: bold;
      color: var(--primary);
      svg {
        fill: #fff;
        background: var(--primary);
        border-radius: 100%;
        padding: 4px;
        transform: scale(2.5) translateY(-8px);
      }
    }
  }
}
