:host {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 56px;
  background: var(--background);
  box-shadow: 0 0 24px #0004;
  div {
    width: 320px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    a {
      background: #0000;
      width: 64px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: var(--foreground);
      font-size: 12px;
      font-weight: 600;
      svg {
        fill: var(--foreground);
      }
      &.active {
        font-weight: 900;
        color: var(--primary);
        svg {
          fill: var(--primary);
        }
      }
      &.new {
        font-size: 16px;
        font-weight: 900;
        color: var(--primary);
        svg {
          fill: #fff;
          background: var(--primary);
          border-radius: 100%;
          padding: 2px;
          transform: translateY(-18px) scale(2.5);
          box-shadow: 0 0 16px var(--background);
        }
      }
    }
  }
}
