:host {
  display: block;
  background: var(--background);
  padding: 16px;
  border-radius: 16px;
  width: 608px;
  max-width: calc(100% - 32px);
  box-shadow: 0 0 8px #0004;
  margin: 12px auto;
  position: relative;
  .header {
    display: flex;
    grid-gap: 12px;
    align-items: baseline;
    .username {
      font-weight: bold;
      font-size: 14px;
      color: inherit;
      text-decoration: none;
      padding: 8px;
      margin: -8px;
      svg {
        transform: translateY(2px);
        fill: var(--info);
      }
    }
    .created {
      font-size: 12px;
    }
  }
  .content {
    margin: 4px 0 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--lines, 0);
    line-clamp: var(--lines, 0);
  }
  .stats {
    display: flex;
    grid-gap: 16px;
    button {
      background: none;
      border: none;
      padding: 8px;
      margin: -8px;
      display: flex;
      grid-gap: 4px;
      align-items: center;
      svg {
        fill: var(--foreground);
        .fill {
          display: none;
        }
      }
    }
  }
  .delete {
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 8px;
  }
  &.favorited button.favorites {
    color: var(--error);
    font-weight: bold;
    svg {
      fill: var(--error);
      .fill {
        display: block;
      }
    }
  }
}
