:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #666;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 300ms backwards;
  > div {
    width: 320px;
    max-width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 8px;
    background: var(--background);
    box-shadow: 0 0 16px #0004;
    border-radius: 16px;
    padding: 24px;
    overflow: hidden;
    position: relative;
    animation: form-appear 300ms backwards;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.2;
      background: linear-gradient(
        0deg,
        var(--background),
        var(--background),
        var(--error)
      );
    }
    * {
      z-index: 1;
    }
    svg {
      fill: var(--foreground);
      background: var(--background);
      padding: 12px;
      border-radius: 16px;
      box-shadow: 0 0 16px #8888;
    }
    h2 {
      margin: 8px 0;
    }
    p {
      margin: 0 0 16px;
      text-align: center;
    }
    button {
      width: 100%;
    }
    button.logout {
      background: var(--error);
    }
    button.cancel {
      background: var(--background);
      border: 1px solid var(--foreground);
      color: var(--foreground);
    }
  }
  &.removed {
    animation: fade-out 300ms forwards;
    > div {
      animation: form-disappear 300ms forwards;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes form-appear {
  from {
    transform: scale(0.8) translateY(64px);
    opacity: 0;
    border-radius: 16px;
  }
}

@keyframes form-disappear {
  to {
    transform: scale(0.8) translateY(-64px);
    opacity: 0;
    border-radius: 16px;
  }
}
