<app-post-header />

@if (post) {
  <app-post-card [post]="post" />
} @else if (!loading) {
  <p>Couldn't find post.</p>
}

@if (post && comments) {
  @for (comment of comments; track comment.id) {
    <app-comment-card [comment]="comment" />
  } @empty {
    <p>No comments yet.</p>
  }
}

@if (loading) {
  <div class="loading">
    <app-spinner />
  </div>
} @else if (after) {
  <div class="more">
    <button class="button-basic-sm" (click)="loadMoreComments()">
      Load more
    </button>
  </div>
}

@if (post) {
  <app-comment-bar />
}
