:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  .color {
    background: var(--primary);
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    .actions {
      display: flex;
      justify-content: flex-end;
      grid-gap: 8px;
      padding: 16px 28px;
      width: 640px;
      svg {
        fill: #fff;
      }
    }
  }
  .profile {
    min-height: 128px;
    margin-top: -64px;
    background: var(--background);
    padding: 16px;
    border-radius: 16px;
    width: 608px;
    max-width: calc(100% - 32px);
    box-shadow: 0 0 8px #0004;
    position: relative;
    overflow: hidden;
    .username {
      font-weight: bold;
    }
    .fullname {
      font-weight: 900;
      font-size: 24px;
    }
    .bio {
      margin-top: 8px;
    }
    .actions {
      top: 16px;
      right: 16px;
      position: absolute;
      display: flex;
      grid-gap: 8px;
      svg {
        fill: var(--foreground);
      }
    }
  }
}
