:host {
  display: flex;
  justify-content: center;
  > div {
    width: 640px;
    max-width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 48px;
    justify-content: space-between;
    background: var(--background);
    button {
      font-weight: bold;
      padding: 0;
      border: none;
      background: #0000;
      > svg {
        fill: var(--foreground);
      }
    }
    .actions {
      display: flex;
      grid-gap: 8px;
      button {
        padding: 0 16px;
        height: 32px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
        line-height: 1;
        border-radius: 16px;
        overflow: hidden;
        position: relative;
        transition:
          background 200ms,
          color 200ms,
          filter 200ms;
        &.preview {
          position: relative;
          color: var(--foreground);
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: var(--foreground);
            opacity: 0.2;
          }
          &.active {
            color: var(--background);
            background: var(--foreground);
            &::before {
              display: none;
            }
          }
        }
        &.post {
          color: #fff;
          background: var(--primary);
          &:hover {
            filter: brightness(1.25);
          }
        }
      }
    }
  }
}
