:host {
  width: 400px;
  max-width: calc(100% - 48px);
  background: var(--background);
  box-shadow: 0 0 24px #0004;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  position: relative;
  overflow: hidden;
  animation: form-appear 300ms backwards;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    background: linear-gradient(
      0deg,
      var(--background),
      var(--background),
      var(--primary)
    );
  }
  * {
    z-index: 1;
  }
  .close {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  > svg {
    fill: var(--foreground);
    background: var(--background);
    padding: 12px;
    border-radius: 16px;
    box-shadow: 0 0 16px #8884;
  }
  .title {
    margin: 16px 0;
  }
  p {
    margin: 0;
    text-align: center;
  }
  .error {
    margin: 8px 0 0;
    font-size: 14px;
    color: var(--error);
  }
  .input {
    position: relative;
    margin: 12px 0 0;
    width: 100%;
    svg {
      fill: #888;
    }
    > svg {
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
    button {
      width: 20px;
      height: 20px;
      box-sizing: content-box;
      padding: 8px;
      margin: 0 -8px;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
    input {
      width: 100%;
      padding: 8px 8px 8px 32px;
    }
    &:has(button) input {
      padding: 8px 32px;
    }
  }
  .memory {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    font-size: 14px;
    div {
      display: flex;
      grid-gap: 8px;
      align-items: center;
    }
  }
  button.main {
    width: 100%;
  }
  .sign-up {
    margin: 24px 0 0;
    font-size: 14px;
  }
}
.removed :host {
  animation: form-disappear 300ms forwards;
}

@keyframes form-appear {
  from {
    transform: scale(0.8) translateY(64px);
    opacity: 0;
    border-radius: 16px;
  }
}

@keyframes form-disappear {
  to {
    transform: scale(0.8) translateY(-64px);
    opacity: 0;
    border-radius: 16px;
  }
}
