:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 16px;
  grid-gap: 32px;
  > * {
    margin: 0;
    text-align: center;
  }
  .error {
    color: var(--error);
  }
}
