:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0008;
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 300ms backwards;
  @media (min-width: 640px) {
    &::before {
      content: "";
      position: fixed;
      top: -32px;
      left: -32px;
      right: -32px;
      bottom: -32px;
      background-size: cover;
      background: url("/auth-wall.webp");
      filter: blur(16px);
    }
  }
  &.removed {
    animation: fade-out 300ms forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}
