:host {
  display: flex;
  max-width: 640px;
  margin: 16px auto;
  padding: 0 16px;
  overflow: auto;
  scrollbar-width: none;
  button {
    flex-shrink: 0;
    border: none;
    background: none;
    padding: 12px 20px;
    font-size: 16px;
    line-height: 1;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
    &.active {
      background: #8882;
      font-weight: 900;
      &::after {
        content: "";
        position: absolute;
        left: 16px;
        right: 16px;
        bottom: 0;
        height: 4px;
        border-radius: 4px;
        background: var(--primary);
      }
    }
  }
}
